body {
    display: flex;
    flex-flow: column;
    column-gap: 20vh;
    align-items: center;
    background-color: #abaaec; 
    overflow: hidden;
}

.title {
    color: azure;
}

.opponents {
    color: brown;
}

/* Table */

td {
    background-color: white;
    height: 20vh;
    width: 20vh;
}

/* Input Feild - Player name submissions */

.names{
    display: flex;
    justify-content: space-around;
}