body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    background-color: black; 
    overflow: hidden;
    overflow: scroll;
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Bungee Spice', cursive;
    font-size: 12vh;
}
/*Messages*/

.gameovermessage{
    color: azure;
    display: flex;
    font-size: 3vh;;
    flex-direction: column;
    align-items: center;
}

.hidden{
    display: none;
}

.visible {
    display: block;
}

.x-hover:hover::after{
    content:'X';
    opacity: 0.4;
}

.o-hover:hover::after{
    content:'O';
    opacity: 0.4;
}

.greeting {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    font-size: 3vh;
    color: orange;
}

/* Table */

.board {
    display: flex;
    display: grid;
    grid-template-columns: 25vh 25vh 25vh ;
    grid-template-rows: 25vh 25vh 25vh;  
    color: rgb(171, 96, 10);
    justify-content: center;
    position: relative;
    align-items: center;
}

.tile {
    height: 25vh;
    width: 25vh;
    margin: 40px;
    font-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-border {
    border-right: solid yellow;
}

.bottom-border {
    border-bottom: solid yellow;
}

.strike {
    position: absolute;
    background-color: white;
}

.strike-row1 {
    width: 95%;
    height: 1vh;
    top: 22%;
}

.strike-row2 {
    width: 95%;
    height: 1vh;
    top: 55%;
}

.strike-row3 {
    width: 95%;
    height: 1vh;
    top: 88%;
}

.strike-column1 {
    width: 1vh;
    height: 100%;
    left: 22%;
}

.strike-column2 {
    width: 1vh;
    height: 100%;
    left: 55%;
}

.strike-column3 {
    width: 1vh;
    height: 100%;
    left: 89%;
}

.strike-diagonal1 {
    width: 90%;
    height: 1vh;
    top: 50%;
    left: 5%;
    transform: skewY(45deg);
}

.strike-diagonal2 {
    width: 90%;
    height: 1vh;
    top: 50%;
    left: 15%;
    transform: skewY(-45deg);
}

/* Input Feild - Player name submissions */
.nameform {
    display:block;
    justify-content: center;
    align-items: center;
}

.names {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    color: yellow;
}

.button {
    display: flex;
    justify-content: center;
}

#submitbutton {
    display:block;
    height: 55px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(171, 80, 10);
    color: yellow;
}

#restartButton {
    display:block;
    height: 55px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(171, 80, 10);
    color: yellow;
}